@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../../fonts/montserrat/Montserrat-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../fonts/montserrat/Montserrat-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}